<h1 class="text-center my-4">Products</h1>

<%= link_to "New product", new_product_path, class: "btn btn-success mb-4" %>

<div id="products" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
  <% @products.each do |product| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to product.name, product, class: "text-dark text-decoration-none" %>
          </h5>
        </div>
        <div class="card-footer text-center">
          <%= link_to 'View', product, class: 'btn btn-info btn-sm' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
