<h1 class="text-center my-4">New Product</h1>

<%= form_with model: @product, class: "w-75 mx-auto" do |form| %>
  <div class="card p-4">
    <div class="card-body">
      <%= render "form", product: @product %>

      <div class="mt-4">
        <%= form.submit "Create Product", class: "btn btn-success" %>
        <%= link_to "Cancel", products_path, class: "btn btn-secondary ms-2" %>
      </div>
    </div>
  </div>
<% end %>
